FIREWORKS_API_KEY=
FIREWORKS_MODEL=accounts/fireworks/models/gemma2-9b-it
JIRA_API_TOKEN=
JIRA_BASE_URL=
JIRA_EMAIL=
SLACK_WEBHOOK_URL=
GITHUB_TOKEN=
GITHUB_REPO_OWNER=
GITHUB_REPO_NAME=
DUCKDB_PATH=./database/routezero.db
DEMO_MODE=true
